{% include 'sections/header.md.jinja2' %}

{% include 'sections/about.md.jinja2' %}

{% include 'sections/technologies.md.jinja2' %}

{% include 'sections/projects.md.jinja2' %}

{% include 'sections/stats.md.jinja2' %}
